@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #191e31;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.App{
  background-image: url(./Images/bg.png);
  width: 100vw;
  height: 395px;
}
.Header{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 120px;
 color: white;
}
.Header__Top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 567px;
}
.Container{
  width: 545px;
  height: auto;
  background-color: #272C42;
  margin-right: 20px;
  border-radius: 5px;
  padding-bottom: 40px;
}
.Container__Top{
  width: 545px;
  height: 70px;
  background-color: #191e31;
  display: flex;
  align-items: center;
}
#Todo{
  font-size: 38px;
  font-family: "Poppins";
  color: #FFFF;
}

.Todo__Number{
  color: #535A7C;
  font-size: 14px;
  font-family: "Poppins";
  width: 150px;
  padding-left: 15px;
}